.contact-container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.contact-container .content section {
    width: 100%;
    max-width: 400px;
}

.contact-container .content section h1 { 
    margin: 64px 0 32px;
    font-size: 32px;
}

.contact-container .content form {
    width: 100%;
    max-width: 450px;
}

.contact-container .content form input {
    margin-top: 8px;
}

.contact-container .content .but {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: rgba(7, 9, 94, 0.5);
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.contact-container .content .but:hover {
    border-color: #999;
}
  
.contact-container .content .but svg {
    margin-right: 8px;
}
  
.contact-container .content .but:hover {
    opacity: 0.8;
}