.nav-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;

    display: flex;
    align-items: center;
}

.nav-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.nav-container ul li {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.nav-container ul li:hover {
    opacity: 0.8;
}

.nav-container ul .a {
    text-decoration: none;
    color: #8e4dff;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}

.nav-container ul .a:hover {
    color: #5a2ea6;
}

.nav-container .power-off { 
    height: 45px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 90px;
    transition: border-color 0.2s;
}

.nav-container button:hover {
    border-color: #999;
} 

.search {
    float: left;
    margin-left: 40px;
}

.search input{
    max-height: 45px;
    border-radius: 4px;
    color: #333;
    border: 1px solid #dcdce6;
    padding: 24px;
    background: none;
}

.search button {
    position: absolute;
    min-height: 45px;
    width: 60px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 12px;
    transition: border-color 0.2s;
}

.search button:hover {
    border-color: #999;
}

.right-side {
    float: left;
    margin-left: 40px;
}